
- var baseurl = "https://torjusti.github.io/it2805-project/"

#sitemap
  div
    a(href=baseurl title='Velkommen til gabionbutikken.no' target="_blank") Velkommen til gabionbutikken.no
    a(href=baseurl+'produkter.html' title='Produkter - Gabionbutikken' target="_blank") Produkter - Gabionbutikken
    a(href=baseurl+'trivia.html' title='Trivia - Gabionbutikken' target="_blank") Trivia - Gabionbutikken
    a(href=baseurl+'montering.html' title='Montering - Gabionbutikken' target="_blank") Montering - Gabionbutikken
    a(href=baseurl+'om.html' title='Om oss - Gabionbutikken' target="_blank") Om oss - Gabionbutikken
  div
    span 2016 - Alle rettigheter forbeholdt.
